/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, nord;
}
html {
  scroll-behavior: smooth;
}
/* ========================= */
/* ANIMACIONES PERSONALIZADAS */
/* ========================= */

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(40px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateX(-40px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes zoomIn {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}

.fade-up {
  animation: fadeUp 1s ease-out forwards;
}

.slide-in {
  animation: slideIn 1s ease-out forwards;
}

.zoom-in {
  animation: zoomIn 0.7s ease-out forwards;
}
